	body{
		margin:0;
	}
	.header{
	display:block;
	text-align:right;
			
		}
		.header-nav{
			display:inline-block;
			padding-right:20px;
		}
		.header-menu{
			display:inline-block;
			list-style:none;
			margin:0;
			padding:15px 0;
		}
		.header-menu-item{
			display:inline-block;
			vertical-align:middle;
		}
	.header-menu-item a{
		display:block;
		text-decoration:none;
		color:#2c3e50;
		padding:0 10px;

	}
		.content{
			display:block;
			text-align:center;
			padding:13% 0;
		}
		.google-image{
			display:inline-block;
			width:350px;
		}
		.google-image img {
			width:100%;
			height:100%;
		}
		.google-search{
			display:block;
			position:relative;
			margin-top:15px;
		}
		.google-search input{
			display:inline-block;
			font-size:20px;
			width:34%;
			padding:10px 40px 10px 10px;
			outline:none;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(#00007f);
				border:none
			background:transparent;
		}
		.google-search img{
			display:inline-block;
			position:absolute;
			width:20px;
			height:20px;
			top:50%;
			left:66.5%;
			transform:translateY(-50%);
		}
		.button-container{
			margin-top:25px;
		}
	.button-container button{
		text-transform:capitalize;
		padding:8px 18px;
		margin: 0 5px;
		border:1px solid transparent;
		background-color:#ecfof1;
		color:#7f8c8d;
		cursor:pointer;
		font-weight:600;
		font-size:13px;
		}
		.button-container button:hover{
			color:#003f7f;
			border:1px solid #7f8c8d;
		}

		.change-language{
			display:block;
				}
		.change-language .language-menu{
			display:inline-block;
			list-style:none;
			padding-left:3px;
		}
		.change-language .language-item{
			display:inline-block;
		}
		.languge-item a{
			text-decoration:none;
			margin:0 1px;
		}

		.footer{
			display:block;
			margin-top:2px;
		}
		.viet-nam,
		.footer-menu{
			display:block;
			border-top:1px solid #e4e4e4;
			background-color:#f2f2f2;
			color:#5f6368;
			overflow:hidden;
			padding:15px 10px;
		}
		.viet-nam p{
			margin:0;
			padding-left: 5px;
		}
		.footer-menu-left,
		.footer-menu-right{
		display:inline-block;
		margin:0;
		padding:0;
		}
		..footer-menu-left{
			float:left;
		}
		.footer-menu-right{
			float:right;
		}
		.footer-menu-item{
			display:inline-block;
			padding: 0 5px;
		}
		.footer-menu-item a{
			color:#5f6368;
			text-decoration:	none;
		}
		.footer-menu-item a:hover{
			text-decoration:underline;
		}
